@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("./assets/images/body.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
